<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>XV Años Montse</title>
</head>

<body>
    <main>
        <header>
            <nav>
                <div>
                    <a href="../index.html"><img class="logo" src="../images/Logo.png" alt="" class="logo"></a>
                </div>
                <input type="checkbox" id="check">
                <label for="check" class="bar-btn">
                    <img src="https://api.iconify.design/fa6-solid/bars.svg?color=%23d4af37&width=20" alt="">
                </label>
                <ul class="nav-menu">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../views/galeria.html">Galeria</a></li>
                    <li><a class="activate" href="../views/padrinos.html">Mis Padrinos</a></li>
                    <li><a href="../views/salon.html">Ubicacion Salón</a></li>
                    <li><a href="../views/galeria.html">Ubicacion Iglesia</a></li>
                    <li><a href="../views/agradecimientos.html">Agradecimientos</a></li>
                </ul>
            </nav>
        </header>
        <h1>Padrinos</h1>
        <section>
            <p class="texto__padrinos">Alejandra Rojano & José Manuel Albarrán</p>
            <p class="texto__padrinos negritas">Velación</p>
            <p class="texto__padrinos">Elizabeth Albarran & Martin Melgoza</p>
            <p class="texto__padrinos negritas">Vestido</p>
            <p class="texto__padrinos">Isabel Contreras & Mirna Banda</p>
            <p class="texto__padrinos negritas">Medalla</p>
            <p class="texto__padrinos">Brisa Amayrani Alvarez</p>
            <p class="texto__padrinos negritas">Coronación</p>
            <p class="texto__padrinos">Melany Samantha Alvarez & Mía Valeria Alvarez</p>
            <p class="texto__padrinos negritas">Último Jugüete</p>
            <p class="texto__padrinos">Erika Huerta & Hannah Nuñez</p>
            <p class="texto__padrinos negritas">Copas</p>
            <p class="texto__padrinos">Luis Miguel Nuñez</p>
            <p class="texto__padrinos negritas">Pastel</p>
            <p class="texto__padrinos">Dolores Resendiz & Miguel Reyes</p>
            <p class="texto__padrinos">Diana Banda</p>
            <p class="texto__padrinos">Juan Carlos Banda & Norma García</p>
            <p class="texto__padrinos negritas">Recuerdos</p>
        </section>
    </main>
</body>

</html>