<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>XV Años Montse</title>
</head>

<body>
    <main>
        <header>
            <nav>
                <div>
                    <a href="../index.html"><img class="logo" src="../images/Logo.png" alt="" class="logo"></a>
                </div>
                <input type="checkbox" id="check">
                <label for="check" class="bar-btn">
                    <img src="https://api.iconify.design/fa6-solid/bars.svg?color=%23d4af37&width=20" alt="">
                </label>
                <ul class="nav-menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="../views/galeria.html">Galeria</a></li>
                    <li><a href="../views/padrinos.html">Mis Padrinos</a></li>
                    <li><a class="activate" href="../views/salon.html">Ubicacion Salón</a></li>
                    <li><a href="../views/iglesia.html">Ubicacion Iglesia</a></li>
                    <li><a href="../views/agradecimientos.html">Agradecimientos</a></li>
                </ul>
            </nav>
        </header>
        <h1>Salon</h1>
    </main>
</body>

</html>